<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">

    <title>PT Tracker</title>

    <!-- reference css file -->
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<div class="header">
    <div class="nav-bar">
        <a class="nav-btn" th:href="@{/api/list}" >Patient Directory</a>
        <a class="nav-btn" th:href="@{/api/record/search-dialysis-page}">Record Search</a>
        <a class="nav-btn" th:href="@{/api/qai/show-patient-list}">QAI Records</a>
    </div>
</div>

<div class="container">
    <div class="profile-align">
        <img src="/logo.png" width="150" height="50">
    </div>
    <br>
    <br>
    <!-- Add a button -->

    <br><br>
    <table class="table table-bordered table-striped">
        <thead class="thread-dark">
        <tr>
            <th>Patient ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Action</th>
        <tr>
        </thead>

        <tbody>
        <tr th:each="tempPatient: ${patients}">

            <td th:text="${tempPatient.patientId}">
            <td th:text="${tempPatient.firstName}">
            <td th:text="${tempPatient.lastName}">
            <td th:text="${tempPatient.dateOfBirth}">

            <td>
                <a th:href="@{/api/qai/show-qai-list(patientId=${tempPatient.id})}"
                   class="btn btn-info btn-sm">
                    Nutrition</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>

<footer>
    <h1>Site by Roshan Alexander</h1>
</footer>